In [88]:
import warnings
warnings.filterwarnings("ignore")

In [89]:
import json, csv
import pandas as pd

#libraries for JSON parsing function
from functools import (partial,
                       singledispatch)
from itertools import chain
from typing import (Dict,
                    List,
                    TypeVar)

In [90]:
unflat_json = {
    "elements": [
        {
            "id": "NAF9Z6VCVJYTP",
            "order": {
                "id": "80RG8EZP07K34"
            },
            "tender": {
                "id": "S8E9QD03QDKG8"
            },
            "amount": 6000,
            "taxAmount": 0,
            "employee": {
                "id": "TB68P3RX5WSMP"
            },
            "createdTime": 1594992181000,
            "clientCreatedTime": 1594992178000,
            "modifiedTime": 1594992180000,
            "offline": False,
            "result": "SUCCESS"
        },
        {
            "id": "H5WTF7HAZXDNW",
            "order": {
                "id": "XHRVJ2R33BQZY"
            },
            "tender": {
     "id": "S8E9QD03QDKG8"
            },
            "amount": 3500,
            "taxAmount": 0,
            "employee": {
                "id": "TB68P3RX5WSMP"
            },
            "createdTime": 1594991912000,
            "clientCreatedTime": 1594991909000,
            "modifiedTime": 1594991911000,
            "offline": False,
            "result": "SUCCESS"
        }]
}

In [91]:
from flatten_json import flatten 
flat_json = flatten(unflat_json) 
  
print(flat_json)

{'elements_0_id': 'NAF9Z6VCVJYTP', 'elements_0_order_id': '80RG8EZP07K34', 'elements_0_tender_id': 'S8E9QD03QDKG8', 'elements_0_amount': 6000, 'elements_0_taxAmount': 0, 'elements_0_employee_id': 'TB68P3RX5WSMP', 'elements_0_createdTime': 1594992181000, 'elements_0_clientCreatedTime': 1594992178000, 'elements_0_modifiedTime': 1594992180000, 'elements_0_offline': False, 'elements_0_result': 'SUCCESS', 'elements_1_id': 'H5WTF7HAZXDNW', 'elements_1_order_id': 'XHRVJ2R33BQZY', 'elements_1_tender_id': 'S8E9QD03QDKG8', 'elements_1_amount': 3500, 'elements_1_taxAmount': 0, 'elements_1_employee_id': 'TB68P3RX5WSMP', 'elements_1_createdTime': 1594991912000, 'elements_1_clientCreatedTime': 1594991909000, 'elements_1_modifiedTime': 1594991911000, 'elements_1_offline': False, 'elements_1_result': 'SUCCESS'}

In [92]:
data = pd.DataFrame.from_dict(json_normalize(flat_json))
print(data)

   elements_0_id elements_0_order_id elements_0_tender_id  elements_0_amount  \
0  NAF9Z6VCVJYTP       80RG8EZP07K34        S8E9QD03QDKG8               6000

   elements_0_taxAmount elements_0_employee_id  elements_0_createdTime  \
0                     0          TB68P3RX5WSMP           1594992181000

   elements_0_clientCreatedTime  elements_0_modifiedTime  elements_0_offline  \
0                 1594992178000            1594992180000               False

   ... elements_1_order_id elements_1_tender_id elements_1_amount  \
0  ...       XHRVJ2R33BQZY        S8E9QD03QDKG8              3500

  elements_1_taxAmount  elements_1_employee_id  elements_1_createdTime  \
0                    0           TB68P3RX5WSMP           1594991912000

  elements_1_clientCreatedTime  elements_1_modifiedTime  elements_1_offline  \
0                1594991909000            1594991911000               False

   elements_1_result
0            SUCCESS

[1 rows x 22 columns]

In [93]:
from pandas.io.json import json_normalize
data = json_normalize(json_string)

In [94]:
data

                                            elements
0  [{'id': 'NAF9Z6VCVJYTP', 'order': {'id': '80RG...

In [95]:
def flatten_json(y): 
    out = {} 
  
    def flatten(x, name =''): 
          
        # If the Nested key-value  
        # pair is of dict type 
        if type(x) is dict: 
              
            for a in x: 
                flatten(x[a], name + a + '_') 
                  
        # If the Nested key-value 
        # pair is of list type 
        elif type(x) is list: 
              
            i = 0
              
            for a in x:                 
                flatten(a, name + str(i) + '_') 
                i += 1
        else: 
            out[name[:-1]] = x 
  
    flatten(y) 
    return out 

flat_json = flatten_json(unflat_json)
print(flat_json)

{'elements_0_id': 'NAF9Z6VCVJYTP', 'elements_0_order_id': '80RG8EZP07K34', 'elements_0_tender_id': 'S8E9QD03QDKG8', 'elements_0_amount': 6000, 'elements_0_taxAmount': 0, 'elements_0_employee_id': 'TB68P3RX5WSMP', 'elements_0_createdTime': 1594992181000, 'elements_0_clientCreatedTime': 1594992178000, 'elements_0_modifiedTime': 1594992180000, 'elements_0_offline': False, 'elements_0_result': 'SUCCESS', 'elements_1_id': 'H5WTF7HAZXDNW', 'elements_1_order_id': 'XHRVJ2R33BQZY', 'elements_1_tender_id': 'S8E9QD03QDKG8', 'elements_1_amount': 3500, 'elements_1_taxAmount': 0, 'elements_1_employee_id': 'TB68P3RX5WSMP', 'elements_1_createdTime': 1594991912000, 'elements_1_clientCreatedTime': 1594991909000, 'elements_1_modifiedTime': 1594991911000, 'elements_1_offline': False, 'elements_1_result': 'SUCCESS'}

In [96]:
print(type(flat_json))

<class 'dict'>

In [97]:
data = pd.DataFrame(flat_json, index = [0])
data

,elements_0_id,elements_0_order_id,elements_0_tender_id,elements_0_amount,elements_0_taxAmount,elements_0_employee_id,elements_0_createdTime,elements_0_clientCreatedTime,elements_0_modifiedTime,elements_0_offline,...,elements_1_order_id,elements_1_tender_id,elements_1_amount,elements_1_taxAmount,elements_1_employee_id,elements_1_createdTime,elements_1_clientCreatedTime,elements_1_modifiedTime,elements_1_offline,elements_1_result
0,NAF9Z6VCVJYTP,80RG8EZP07K34,S8E9QD03QDKG8,6000,0,TB68P3RX5WSMP,1594992181000,1594992178000,1594992180000,False,...,XHRVJ2R33BQZY,S8E9QD03QDKG8,3500,0,TB68P3RX5WSMP,1594991912000,1594991909000,1594991911000,False,SUCCESS

In [98]:
Serializable = TypeVar('Serializable', None, int, bool, float, str, 
                       dict, list, tuple)
Array = List[Serializable]
Object = Dict[str, Serializable]


def flatten(object_: Object,
            *,
            path_separator: str = '.') -> Array[Object]:
    """
    Flattens given JSON object into list of objects with non-nested values.

    >>> flatten({'a': 1})
    [{'a': 1}]
    >>> flatten({'a': [1, 2]})
    [{'a': 1}, {'a': 2}]
    >>> flatten({'a': {'b': None}})
    [{'a.b': None}]
    """
    keys = set(object_)
    result = [dict(object_)]
    while keys:
        key = keys.pop()
        new_result = []
        for index, record in enumerate(result):
            try:
                value = record[key]
            except KeyError:
                new_result.append(record)
            else:
                if isinstance(value, dict):
                    del record[key]
                    new_value = flatten_nested_objects(
                            value,
                            prefix=key + path_separator,
                            path_separator=path_separator)
                    keys.update(new_value.keys())
                    new_result.append({**new_value, **record})
                elif isinstance(value, list):
                    del record[key]
                    new_records = [
                        flatten_nested_objects(sub_value,
                                               prefix=key + path_separator,
                                               path_separator=path_separator)
                        for sub_value in value]
                    keys.update(chain.from_iterable(map(dict.keys,
                                                        new_records)))
                    new_result.extend({**new_record, **record}
                                      for new_record in new_records)
                else:
                    new_result.append(record)
        result = new_result
    return result


@singledispatch
def flatten_nested_objects(object_: Serializable,
                           *,
                           prefix: str = '',
                           path_separator: str) -> Object:
    return {prefix[:-len(path_separator)]: object_}


@flatten_nested_objects.register(dict)
def _(object_: Object,
      *,
      prefix: str = '',
      path_separator: str) -> Object:
    result = dict(object_)
    for key in list(result):
        result.update(flatten_nested_objects(result.pop(key),
                                             prefix=(prefix + key
                                                     + path_separator),
                                             path_separator=path_separator))
    return result


@flatten_nested_objects.register(list)
def _(object_: Array,
      *,
      prefix: str = '',
      path_separator: str) -> Object:
    return {prefix[:-len(path_separator)]: list(map(partial(
            flatten_nested_objects,
            path_separator=path_separator),
            object_))}

In [99]:
flat_json = flatten(unflat_json)

In [100]:
data = pd.DataFrame.from_dict(flat_json)
data

,elements.id,elements.order.id,elements.tender.id,elements.amount,elements.taxAmount,elements.employee.id,elements.createdTime,elements.clientCreatedTime,elements.modifiedTime,elements.offline,elements.result
0,NAF9Z6VCVJYTP,80RG8EZP07K34,S8E9QD03QDKG8,6000,0,TB68P3RX5WSMP,1594992181000,1594992178000,1594992180000,False,SUCCESS
1,H5WTF7HAZXDNW,XHRVJ2R33BQZY,S8E9QD03QDKG8,3500,0,TB68P3RX5WSMP,1594991912000,1594991909000,1594991911000,False,SUCCESS